* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.text {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.subtext {
    font-size: 15px;
    color: hwb(216 15% 48%);
    margin: 10px 0;
}

.attribution {
    font-size: 11px;
    color: black;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .card {
        width: 400px;  /* Larghezza maggiore su tablet */
        padding: 30px;  /* Aggiungiamo più padding per gli schermi più grandi */
    }

    .text {
        font-size: 20px;
    }

    .subtext {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: hsl(212, 45%, 89%);
        padding: 40px;
    }

    .card {
        width: 450px;  /* Ancora più larga su desktop */
        padding: 40px;
    }

    .text {
        font-size: 22px;
    }

    .subtext {
        font-size: 17px;
    }
}